
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/User_MasterPage.cshtml";
}

<section id="main" class="clearfix about-us page">
    <div class="container">
        <div class="breadcrumb-section">
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li>About</li>
            </ol>
            <h2 class="title">About Us</h2>
        </div>
        <div class="section about">
            <div class="about-info">
                <div class="row">

                    <div class="col-lg-6">
                        <div class="about-us-images">
                            <img src="~/images/about-us/1.jpg" alt="About us Image" class="img-fluid">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="about-text">
                            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do</h3>

                            <div class="description-paragraph">
                                <p>Online ad networks like google, yahoo, adchoices etc advertise their client products and services on search as well as partner websites. So here we concentrate on partner website adposting and handling system. Partner websites are websites that consist of ads by these online advertising networks. Ad networks handle these ads on multiple websites through a sophisticated advertisement scheduling system. The system has various ads scheduled in it. It decides which ad to display on which site and for what time duration.</p>
                            </div>

                            <div class="description-paragraph"><p></p></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="approach">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <div class="our-approach">
                            <h3>Backgrounds</h3>
                            <p>Our Team And All Publisher Are Work In Background</p>
                        </div>
                    </div>

                    <div class="col-md-4 text-center">
                        <div class="our-approach">
                            <h3>Our Approach</h3>
                            <p>Our Approch For Client and How to always We Grow !</p>
                        </div>
                    </div>

                    <div class="col-md-4 text-center">
                        <div class="our-approach">
                            <h3>Methodology</h3>
                            <p>Trust The Process!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-section">
                <h3>Trade Team Member</h3>
                <div class="team-members">
                    <div class="team-member">

                        <div class="team-member-image">
                            <img src="~/images/about-us/2.jpg" alt="Team Member" class="img-fluid">

                            <div class="team-social">
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <h4>Leaf Corcoran</h4>
                    </div>

                    <div class="team-member">

                        <div class="team-member-image">
                            <img src="~/images/about-us/3.jpg" alt="Team Member" class="img-fluid">

                            <div class="team-social">
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <h4>Mike Lewis</h4>
                    </div>

                    <div class="team-member">

                        <div class="team-member-image">
                            <img src="~/images/about-us/4.jpg" alt="Team Member" class="img-fluid">

                            <div class="team-social">
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <h4>Julie MacKay</h4>
                    </div>

                    <div class="team-member">

                        <div class="team-member-image">
                            <img src="~/images/about-us/5.jpg" alt="Team Member" class="img-fluid">

                            <div class="team-social">
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <h4>Christine Marquardt</h4>
                    </div>

                    <div class="team-member">

                        <div class="team-member-image">
                            <img src="~/images/about-us/6.jpg" alt="Team Member" class="img-fluid">

                            <div class="team-social">
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <h4>Loren Heiman</h4>
                    </div>

                    <div class="team-member">

                        <div class="team-member-image">
                            <img src="~/images/about-us/7.jpg" alt="Team Member" class="img-fluid">

                            <div class="team-social">
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <h4>Chris Taylor</h4>
                    </div>

                    <div class="team-member">

                        <div class="team-member-image">
                            <img src="~/images/about-us/8.jpg" alt="Team Member" class="img-fluid">

                            <div class="team-social">
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <h4>Alex Posey</h4>
                    </div>

                    <div class="team-member">

                        <div class="team-member-image">
                            <img src="~/images/about-us/9.jpg" alt="Team Member" class="img-fluid">

                            <div class="team-social">
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <h4>Teddy Newell</h4>
                    </div>

                    <div class="team-member">

                        <div class="team-member-image">
                            <img src="~/images/about-us/10.jpg" alt="Team Member" class="img-fluid">

                            <div class="team-social">
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <h4>Eli Amesefe</h4>
                    </div>

                    <div class="team-member">

                        <div class="team-member-image">
                            <img src="~/images/about-us/11.jpg" alt="Team Member" class="img-fluid">

                            <div class="team-social">
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <h4>Andrei Patru</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="section testimonials text-center">
            <div class="testimonial-carousel">
                <div class="testimonial">
                    <img src="~/images/about-us/12.jpg" alt="about Image" class="img-fluid">
                    <h3 class="client-name">Karol Cichoń</h3>
                    <h4 class="client-company">Founder, Leo Inc</h4>

                    <div class="client-pragrap">
                        <p>“Wow!! It's really awesome. Nice and Clean design.It's really impressive. I am<br> really appreciate your project.”</p>
                    </div>
                </div>
                <div class="testimonial">
                    <img src="~/images/about-us/4.jpg" alt="Image" class="img-fluid">
                    <h3 class="client-name">Hena Rio</h3>
                    <h4 class="client-company">CEO, Leo Inc</h4>

                    <div class="client-pragrap">
                        <p>“Wow!! It's really awesome. Nice and Clean design.It's really impressive. I am<br> really appreciate your project.”</p>
                    </div>
                </div>
                <div class="testimonial">
                    <img src="~/images/about-us/6.jpg" alt="" class="img-fluid">
                    <h3 class="client-name">Jhon Mark</h3>
                    <h4 class="client-company">Founder, Mark Ltd.</h4>

                    <div class="client-pragrap">
                        <p>“Wow!! It's really awesome. Nice and Clean design.It's really impressive. I am <br> really appreciate your project.”</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
