
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/User_MasterPage.cshtml";
}

<section id="main" class="clearfix home-default">
    <div class="container">

        <div class="banner-section text-center">
            <h1 class="title">World's Largest Classifieds Portal </h1>
            <h3>Search from over 15,00,000 classifieds & Post unlimited classifieds free!</h3>

            

            <ul class="banner-socail list-inline">
                <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#" title="Youtube"><i class="fa fa-youtube"></i></a></li>
            </ul>
        </div>


        <div class="main-content">

            <div class="row">
                <div class="d-none d-md-block col-md-2 text-center">
                    <div class="advertisement">
                        <a href="#"><img src="~/images/ads/2.jpg" alt="Images" class="img-fluid"></a>
                    </div>
                </div>

                <div class="col-md-8">

                    <div class="section category-ad text-center">
                        <ul class="category-list">
                            <li class="category-item">
                                <a href="categories.html">
                                    <div class="category-icon"><img src="~/images/icon/1.png" alt="images" class="img-fluid"></div>
                                    <span class="category-title">Cars & Vehicles</span>
                                    
                                </a>
                            </li>
                            <li class="category-item">
                                <a href="categories.html">
                                    <div class="category-icon"><img src="~/images/icon/2.png" alt="images" class="img-fluid"></div>
                                    <span class="category-title">Electrics & Gedgets</span>
                                    
                                </a>
                            </li>
                            <li class="category-item">
                                <a href="categories.html">
                                    <div class="category-icon"><img src="~/images/icon/3.png" alt="images" class="img-fluid"></div>
                                    <span class="category-title">Real Estate</span>
                                    
                                </a>
                            </li>
                            <li class="category-item">
                                <a href="categories.html">
                                    <div class="category-icon"><img src="~/images/icon/4.png" alt="images" class="img-fluid"></div>
                                    <span class="category-title">Sports & Games</span>
                                    
                                </a>
                            </li>
                            <li class="category-item">
                                <a href="categories.html">
                                    <div class="category-icon"><img src="~/images/icon/5.png" alt="images" class="img-fluid"></div>
                                    <span class="category-title">Fshion & Beauty</span>
                                    
                                </a>
                            </li>
                            <li class="category-item">
                                <a href="categories.html">
                                    <div class="category-icon"><img src="~/images/icon/6.png" alt="images" class="img-fluid"></div>
                                    <span class="category-title">Pets & Animals</span>
                                    
                                </a>
                            </li>
                            <li class="category-item">
                                <a href="categories.html">
                                    <div class="category-icon"><img src="~/images/icon/9.png" alt="images" class="img-fluid"></div>
                                    <span class="category-title">Home Appliances</span>
                                    
                                </a>
                            </li>
                            <li class="category-item">
                                <a href="categories.html">
                                    <div class="category-icon"><img src="~/images/icon/10.png" alt="images" class="img-fluid"></div>
                                    <span class="category-title">Matrimony Services</span>
                                    
                                </a>
                            </li>
                            <li class="category-item">
                                <a href="categories.html">
                                    <div class="category-icon"><img src="~/images/icon/11.png" alt="images" class="img-fluid"></div>
                                    <span class="category-title">Music & Arts</span>
                                    
                                </a>
                            </li>
                            @*<li class="category-item">
                                <a href="categories.html">
                                    <div class="category-icon"><img src="~/images/icon/12.png" alt="images" class="img-fluid"></div>
                                    <span class="category-title">Miscellaneous </span>
                                    <span class="category-quantity">(1298)</span>
                                </a>
                            </li>*@
                            <li class="category-item">
                                <a href="categories.html">
                                    <div class="category-icon"><img src="~/images/icon/7.png" alt="images" class="img-fluid"></div>
                                    <span class="category-title">Job Openings </span>
                                    
                                </a>
                            </li>
                            <li class="category-item">
                                <a href="categories.html">
                                    <div class="category-icon"><img src="~/images/icon/8.png" alt="images" class="img-fluid"></div>
                                    <span class="category-title">Books & Magazines</span>
                                    
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="section featureds">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="section-title featured-top">
                                    <h4>Featured Ads</h4>
                                </div>
                            </div>
                        </div>

                        <div class="featured-slider">
                            <div id="featured-slider">

                                <div class="featured">
                                    <div class="featured-image">
                                        <a href="details.html"><img src="~/images/featured/1.jpg" alt="" class="img-fluid"></a>
                                        <a href="#" class="verified" data-toggle="tooltip" data-placement="left" title="Verified"><i class="fa fa-check-square-o"></i></a>
                                    </div>

                                    <div class="ad-info">
                                        <h3 class="item-price">$800.00</h3>
                                        <h4 class="item-title"><a href="#">Apple MacBook Pro with Retina Display</a></h4>
                                        <div class="item-cat">
                                            <span><a href="#">Electronics & Gedgets</a></span>
                                        </div>
                                    </div>

                                    <div class="ad-meta">
                                        <div class="meta-content">
                                            <span class="dated"><a href="#">7 Jan 10:10 pm </a></span>
                                        </div>

                                        <div class="user-option pull-right">
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Los Angeles, USA"><i class="fa fa-map-marker"></i> </a>
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Dealer"><i class="fa fa-suitcase"></i> </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="featured">
                                    <div class="featured-image">
                                        <a href="details.html"><img src="~/images/featured/2.jpg" alt="" class="img-fluid"></a>
                                    </div>

                                    <div class="ad-info">
                                        <h3 class="item-price">$25000.00</h3>
                                        <h4 class="item-title"><a href="#">2018 Bugatti Veyron Sport Middlecar</a></h4>
                                        <div class="item-cat">
                                            <span><a href="#">Cars & Vehicles</a></span>
                                        </div>
                                    </div>

                                    <div class="ad-meta">
                                        <div class="meta-content">
                                            <span class="dated"><a href="#">7 Jan 10:10 pm </a></span>
                                        </div>

                                        <div class="user-option pull-right">
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Los Angeles, USA"><i class="fa fa-map-marker"></i> </a>
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Individual"><i class="fa fa-user"></i> </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="featured">
                                    <div class="featured-image">
                                        <a href="details.html"><img src="~/images/featured/3.jpg" alt="" class="img-fluid"></a>
                                        <a href="#" class="verified" data-toggle="tooltip" data-placement="left" title="Verified"><i class="fa fa-check-square-o"></i></a>
                                    </div>


                                    <div class="ad-info">
                                        <h3 class="item-price">$250.00 <span class="negotiable">(Negotiable)</span></h3>
                                        <h4 class="item-title"><a href="#">Vivster Acoustic Guitar</a></h4>
                                        <div class="item-cat">
                                            <span><a href="#">Music & Art</a></span>
                                        </div>
                                    </div>

                                    <div class="ad-meta">
                                        <div class="meta-content">
                                            <span class="dated"><a href="#">7 Jan 10:10 pm </a></span>
                                        </div>

                                        <div class="user-option pull-right">
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Los Angeles, USA"><i class="fa fa-map-marker"></i> </a>
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Dealer"><i class="fa fa-suitcase"></i> </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="featured">
                                    <div class="featured-image">
                                        <a href="details.html"><img src="~/images/trending/4.jpg" alt="" class="img-fluid"></a>
                                    </div>

                                    <div class="ad-info">
                                        <h3 class="item-price">$50.00</h3>
                                        <h4 class="item-title"><a href="#">Rick Morton- Magicius Chase</a></h4>
                                        <div class="item-cat">
                                            <span><a href="#">Books & Magazines</a></span>
                                        </div>
                                    </div>

                                    <div class="ad-meta">
                                        <div class="meta-content">
                                            <span class="dated"><a href="#">7 Jan 10:10 pm </a></span>
                                        </div>

                                        <div class="user-option pull-right">
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Los Angeles, USA"><i class="fa fa-map-marker"></i> </a>
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Individual"><i class="fa fa-user"></i> </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="featured">
                                    <div class="featured-image">
                                        <a href="details.html"><img src="~/images/trending/3.jpg" alt="" class="img-fluid"></a>
                                    </div>

                                    <div class="ad-info">
                                        <h3 class="item-price">$380.00</h3>
                                        <h4 class="item-title"><a href="#">Samsung Galaxy S6 Edge</a></h4>
                                        <div class="item-cat">
                                            <span><a href="#">Electronics & Gedgets</a></span>
                                        </div>
                                    </div>

                                    <div class="ad-meta">
                                        <div class="meta-content">
                                            <span class="dated"><a href="#">7 Jan 10:10 pm </a></span>
                                        </div>

                                        <div class="user-option pull-right">
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Los Angeles, USA"><i class="fa fa-map-marker"></i> </a>
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Individual"><i class="fa fa-user"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ad-section text-center">
                        <a href="#"><img src="~/images/ads/3.jpg" alt="Image" class="img-fluid"></a>
                    </div>

                    <div class="section trending-ads">
                        <div class="section-title tab-manu">
                            <h4>Trending Ads</h4>

                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation"><a class="active" href="#recent-ads" data-toggle="tab">Recent Ads</a></li>
                                <li role="presentation"><a href="#popular" data-toggle="tab">Popular Ads</a></li>
                                <li role="presentation"><a href="#hot-ads" data-toggle="tab">Hot Ads</a></li>
                            </ul>
                        </div>

                        <div class="tab-content">

                            <div role="tabpanel" class="tab-pane fade in active show" id="recent-ads">

                                <div class="ad-item row">

                                    <div class="item-image-box col-lg-4">
                                        <div class="item-image">
                                            <a href="details.html"><img src="~/images/trending/1.jpg" alt="Image" class="img-fluid"></a>
                                            <a href="#" class="verified" data-toggle="tooltip" data-placement="left" title="Verified"><i class="fa fa-check-square-o"></i></a>
                                        </div>
                                    </div>

                                    <div class="item-info col-lg-8">

                                        <div class="ad-info">
                                            <h3 class="item-price">$50.00</h3>
                                            <h4 class="item-title"><a href="#">Apple TV - Everything you need to know!</a></h4>
                                            <div class="item-cat">
                                                <span><a href="#">Electronics & Gedgets</a></span> /
                                                <span><a href="#">Tv & Video</a></span>
                                            </div>
                                        </div>

                                        <div class="ad-meta">
                                            <div class="meta-content">
                                                <span class="dated"><a href="#">7 Jan, 16 10:10 pm </a></span>
                                                <a href="#" class="tag"><i class="fa fa-tags"></i> Used</a>
                                            </div>

                                            <div class="user-option pull-right">
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Los Angeles, USA"><i class="fa fa-map-marker"></i> </a>
                                                <a class="online" href="#" data-toggle="tooltip" data-placement="top" title="Dealer"><i class="fa fa-suitcase"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="ad-item row">
                                    <div class="item-image-box col-lg-4">

                                        <div class="item-image">
                                            <a href="details.html"><img src="~/images/trending/2.jpg" alt="Image" class="img-fluid"></a>
                                        </div>
                                    </div>

                                    <div class="item-info col-lg-8">

                                        <div class="ad-info">
                                            <h3 class="item-price">$250.00 <span>(Negotiable)</span></h3>
                                            <h4 class="item-title"><a href="#">Bark Furniture, Handmade Bespoke Furniture</a></h4>
                                            <div class="item-cat">
                                                <span><a href="#">Home Appliances</a></span> /
                                                <span><a href="#">Sofa</a></span>
                                            </div>
                                        </div>

                                        <div class="ad-meta">
                                            <div class="meta-content">
                                                <span class="dated"><a href="#">7 Jan, 16 10:10 pm </a></span>
                                                <a href="#" class="tag"><i class="fa fa-tags"></i> Used</a>
                                            </div>

                                            <div class="user-option pull-right">
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Los Angeles, USA"><i class="fa fa-map-marker"></i> </a>
                                                <a class="online" href="#" data-toggle="tooltip" data-placement="top" title="Dealer"><i class="fa fa-suitcase"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="ad-item row">
                                    <div class="item-image-box col-lg-4">

                                        <div class="item-image">
                                            <a href="details.html"><img src="~/images/trending/4.jpg" alt="Image" class="img-fluid"></a>
                                            <a href="#" class="verified" data-toggle="tooltip" data-placement="left" title="Verified"><i class="fa fa-check-square-o"></i></a>
                                        </div>
                                    </div>

                                    <div class="item-info col-lg-8">

                                        <div class="ad-info">
                                            <h3 class="item-price">$800.00</h3>
                                            <h4 class="item-title"><a href="#">Rick Morton- Magicius Chase</a></h4>
                                            <div class="item-cat">
                                                <span><a href="#">Books & Magazines</a></span> /
                                                <span><a href="#">Story book</a></span>
                                            </div>
                                        </div>

                                        <div class="ad-meta">
                                            <div class="meta-content">
                                                <span class="dated"><a href="#">7 Jan, 16 10:10 pm </a></span>
                                                <a href="#" class="tag"><i class="fa fa-tags"></i> Used</a>
                                            </div>

                                            <div class="user-option pull-right">
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Los Angeles, USA"><i class="fa fa-map-marker"></i> </a>
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Individual"><i class="fa fa-user"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="ad-item row">
                                    <div class="item-image-box col-lg-4">

                                        <div class="item-image">
                                            <a href="details.html"><img src="~/images/trending/3.jpg" alt="Image" class="img-fluid"></a>
                                        </div>
                                    </div>

                                    <div class="item-info col-lg-8">

                                        <div class="ad-info">
                                            <h3 class="item-price">$890.00 <span>(Negotiable)</span></h3>
                                            <h4 class="item-title"><a href="#">Samsung Galaxy S6 Edge</a></h4>
                                            <div class="item-cat">
                                                <span><a href="#">Electronics & Gedgets</a></span> /
                                                <span><a href="#">Mobile Phone</a></span>
                                            </div>
                                        </div>

                                        <div class="ad-meta">
                                            <div class="meta-content">
                                                <span class="dated"><a href="#">7 Jan, 16 10:10 pm </a></span>
                                                <a href="#" class="tag"><i class="fa fa-tags"></i> Used</a>
                                            </div>

                                            <div class="user-option pull-right">
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Los Angeles, USA"><i class="fa fa-map-marker"></i> </a>
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Dealer"><i class="fa fa-suitcase"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div role="tabpanel" class="tab-pane fade" id="popular">
                                <div class="ad-item row">

                                    <div class="item-image-box col-lg-4">
                                        <div class="item-image">
                                            <a href="details.html"><img src="~/images/trending/1.jpg" alt="Image" class="img-fluid"></a>
                                            <a href="#" class="verified" data-toggle="tooltip" data-placement="left" title="Verified"><i class="fa fa-check-square-o"></i></a>
                                        </div>
                                    </div>

                                    <div class="item-info col-lg-8">

                                        <div class="ad-info">
                                            <h3 class="item-price">$50.00</h3>
                                            <h4 class="item-title"><a href="#">Apple TV - Everything you need to know!</a></h4>
                                            <div class="item-cat">
                                                <span><a href="#">Electronics & Gedgets</a></span> /
                                                <span><a href="#">Tv & Video</a></span>
                                            </div>
                                        </div>

                                        <div class="ad-meta">
                                            <div class="meta-content">
                                                <span class="dated"><a href="#">7 Jan, 16 10:10 pm </a></span>
                                                <a href="#" class="tag"><i class="fa fa-tags"></i> Used</a>
                                            </div>

                                            <div class="user-option pull-right">
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Los Angeles, USA"><i class="fa fa-map-marker"></i> </a>
                                                <a class="online" href="#" data-toggle="tooltip" data-placement="top" title="Dealer"><i class="fa fa-suitcase"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ad-item row">
                                    <div class="item-image-box col-lg-4">

                                        <div class="item-image">
                                            <a href="details.html"><img src="~/images/trending/3.jpg" alt="Image" class="img-fluid"></a>
                                        </div>
                                    </div>
                                    <div class="item-info col-lg-8">

                                        <div class="ad-info">
                                            <h3 class="item-price">$890.00 <span>(Negotiable)</span></h3>
                                            <h4 class="item-title"><a href="#">Samsung Galaxy S6 Edge</a></h4>
                                            <div class="item-cat">
                                                <span><a href="#">Electronics & Gedgets</a></span> /
                                                <span><a href="#">Mobile Phone</a></span>
                                            </div>
                                        </div>

                                        <div class="ad-meta">
                                            <div class="meta-content">
                                                <span class="dated"><a href="#">7 Jan, 16 10:10 pm </a></span>
                                                <a href="#" class="tag"><i class="fa fa-tags"></i> Used</a>
                                            </div>

                                            <div class="user-option pull-right">
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Los Angeles, USA"><i class="fa fa-map-marker"></i> </a>
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Dealer"><i class="fa fa-suitcase"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="ad-item row">
                                    <div class="item-image-box col-lg-4">

                                        <div class="item-image">
                                            <a href="details.html"><img src="~/images/trending/2.jpg" alt="Image" class="img-fluid"></a>
                                        </div>
                                    </div>

                                    <div class="item-info col-lg-8">

                                        <div class="ad-info">
                                            <h3 class="item-price">$250.00 <span>(Negotiable)</span></h3>
                                            <h4 class="item-title"><a href="#">Bark Furniture, Handmade Bespoke Furniture</a></h4>
                                            <div class="item-cat">
                                                <span><a href="#">Home Appliances</a></span> /
                                                <span><a href="#">Sofa</a></span>
                                            </div>
                                        </div>

                                        <div class="ad-meta">
                                            <div class="meta-content">
                                                <span class="dated"><a href="#">7 Jan, 16 10:10 pm </a></span>
                                                <a href="#" class="tag"><i class="fa fa-tags"></i> Used</a>
                                            </div>

                                            <div class="user-option pull-right">
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Los Angeles, USA"><i class="fa fa-map-marker"></i> </a>
                                                <a class="online" href="#" data-toggle="tooltip" data-placement="top" title="Dealer"><i class="fa fa-suitcase"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="ad-item row">
                                    <div class="item-image-box col-lg-4">

                                        <div class="item-image">
                                            <a href="details.html"><img src="~/images/trending/4.jpg" alt="Image" class="img-fluid"></a>
                                            <a href="#" class="verified" data-toggle="tooltip" data-placement="left" title="Verified"><i class="fa fa-check-square-o"></i></a>
                                        </div>
                                    </div>

                                    <div class="item-info col-lg-8">

                                        <div class="ad-info">
                                            <h3 class="item-price">$800.00</h3>
                                            <h4 class="item-title"><a href="#">Rick Morton- Magicius Chase</a></h4>
                                            <div class="item-cat">
                                                <span><a href="#">Books & Magazines</a></span> /
                                                <span><a href="#">Story book</a></span>
                                            </div>
                                        </div>

                                        <div class="ad-meta">
                                            <div class="meta-content">
                                                <span class="dated"><a href="#">7 Jan, 16 10:10 pm </a></span>
                                                <a href="#" class="tag"><i class="fa fa-tags"></i> Used</a>
                                            </div>

                                            <div class="user-option pull-right">
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Los Angeles, USA"><i class="fa fa-map-marker"></i> </a>
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Individual"><i class="fa fa-user"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div role="tabpanel" class="tab-pane fade" id="hot-ads">

                                <div class="ad-item row">

                                    <div class="item-image-box col-lg-4">
                                        <div class="item-image">
                                            <a href="details.html"><img src="~/images/trending/1.jpg" alt="Image" class="img-fluid"></a>
                                            <a href="#" class="verified" data-toggle="tooltip" data-placement="left" title="Verified"><i class="fa fa-check-square-o"></i></a>
                                        </div>
                                    </div>

                                    <div class="item-info col-lg-8">

                                        <div class="ad-info">
                                            <h3 class="item-price">$50.00</h3>
                                            <h4 class="item-title"><a href="#">Apple TV - Everything you need to know!</a></h4>
                                            <div class="item-cat">
                                                <span><a href="#">Electronics & Gedgets</a></span> /
                                                <span><a href="#">Tv & Video</a></span>
                                            </div>
                                        </div>

                                        <div class="ad-meta">
                                            <div class="meta-content">
                                                <span class="dated"><a href="#">7 Jan, 16 10:10 pm </a></span>
                                                <a href="#" class="tag"><i class="fa fa-tags"></i> Used</a>
                                            </div>

                                            <div class="user-option pull-right">
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Los Angeles, USA"><i class="fa fa-map-marker"></i> </a>
                                                <a class="online" href="#" data-toggle="tooltip" data-placement="top" title="Dealer"><i class="fa fa-suitcase"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="ad-item row">
                                    <div class="item-image-box col-lg-4">

                                        <div class="item-image">
                                            <a href="details.html"><img src="~/images/trending/4.jpg" alt="Image" class="img-fluid"></a>
                                            <a href="#" class="verified" data-toggle="tooltip" data-placement="left" title="Verified"><i class="fa fa-check-square-o"></i></a>
                                        </div>
                                    </div>

                                    <div class="item-info col-lg-8">

                                        <div class="ad-info">
                                            <h3 class="item-price">$800.00</h3>
                                            <h4 class="item-title"><a href="#">Rick Morton- Magicius Chase</a></h4>
                                            <div class="item-cat">
                                                <span><a href="#">Books & Magazines</a></span> /
                                                <span><a href="#">Story book</a></span>
                                            </div>
                                        </div>

                                        <div class="ad-meta">
                                            <div class="meta-content">
                                                <span class="dated"><a href="#">7 Jan, 16 10:10 pm </a></span>
                                                <a href="#" class="tag"><i class="fa fa-tags"></i> Used</a>
                                            </div>

                                            <div class="user-option pull-right">
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Los Angeles, USA"><i class="fa fa-map-marker"></i> </a>
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Individual"><i class="fa fa-user"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ad-item row">
                                    <div class="item-image-box col-lg-4">

                                        <div class="item-image">
                                            <a href="details.html"><img src="~/images/trending/3.jpg" alt="Image" class="img-fluid"></a>
                                        </div>
                                    </div>

                                    <div class="item-info col-lg-8">

                                        <div class="ad-info">
                                            <h3 class="item-price">$890.00 <span>(Negotiable)</span></h3>
                                            <h4 class="item-title"><a href="#">Samsung Galaxy S6 Edge</a></h4>
                                            <div class="item-cat">
                                                <span><a href="#">Electronics & Gedgets</a></span> /
                                                <span><a href="#">Mobile Phone</a></span>
                                            </div>
                                        </div>

                                        <div class="ad-meta">
                                            <div class="meta-content">
                                                <span class="dated"><a href="#">7 Jan, 16 10:10 pm </a></span>
                                                <a href="#" class="tag"><i class="fa fa-tags"></i> Used</a>
                                            </div>

                                            <div class="user-option pull-right">
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Los Angeles, USA"><i class="fa fa-map-marker"></i> </a>
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Dealer"><i class="fa fa-suitcase"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="ad-item row">
                                    <div class="item-image-box col-lg-4">

                                        <div class="item-image">
                                            <a href="details.html"><img src="~/images/trending/2.jpg" alt="Image" class="img-fluid"></a>
                                        </div>
                                    </div>

                                    <div class="item-info col-lg-8">

                                        <div class="ad-info">
                                            <h3 class="item-price">$250.00 <span>(Negotiable)</span></h3>
                                            <h4 class="item-title"><a href="#">Bark Furniture, Handmade Bespoke Furniture</a></h4>
                                            <div class="item-cat">
                                                <span><a href="#">Home Appliances</a></span> /
                                                <span><a href="#">Sofa</a></span>
                                            </div>
                                        </div>

                                        <div class="ad-meta">
                                            <div class="meta-content">
                                                <span class="dated"><a href="#">7 Jan, 16 10:10 pm </a></span>
                                                <a href="#" class="tag"><i class="fa fa-tags"></i> Used</a>
                                            </div>

                                            <div class="user-option pull-right">
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Los Angeles, USA"><i class="fa fa-map-marker"></i> </a>
                                                <a class="online" href="#" data-toggle="tooltip" data-placement="top" title="Dealer"><i class="fa fa-suitcase"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="section cta text-center">
                        <div class="row">

                            <div class="col-lg-4">
                                <div class="single-cta">

                                    <div class="cta-icon icon-secure">
                                        <img src="~/images/icon/13.png" alt="Icon" class="img-fluid">
                                    </div>
                                    <h4>Secure Trading</h4>
                                    <p>Duis autem vel eum iriure dolor in hendrerit in</p>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="single-cta">

                                    <div class="cta-icon icon-support">
                                        <img src="~/images/icon/14.png" alt="Icon" class="img-fluid">
                                    </div>
                                    <h4>24/7 Support</h4>
                                    <p>Duis autem vel eum iriure dolor in hendrerit in</p>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="single-cta">

                                    <div class="cta-icon icon-trading">
                                        <img src="~/images/icon/15.png" alt="Icon" class="img-fluid">
                                    </div>
                                    <h4>Easy Trading</h4>
                                    <p>Duis autem vel eum iriure dolor in hendrerit in</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-none d-md-block col-md-2">
                    <div class="advertisement text-center">
                        <a href="#"><img src="~/images/ads/1.jpg" alt="Images" class="img-fluid"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

